<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<title>Save Employee</title>
</head>

<body>
	
	<div class="container">
	
		<h3>Employee Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Add/Update Employee</p>
	
		<form action="#" th:action="${action} == 'add' ? @{/employees/save} : @{/employees/update}"
						 th:object="${employee}" method="POST">
						 
			<input type="text" th:field="*{name}"
					class="form-control mb-4 col-4" placeholder="Name">
			<div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
			
			
			<div th:if="${action} == 'add' ">			   
				<input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder="Email">
			</div>				
			<div th:if="${action} == 'update' ">
			   <input type="hidden" th:field="*{email}" class="form-control mb-4 col-4" placeholder="Email">
			</div>	
			<div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			
			
			<input type="text" th:field="*{designation}"
					class="form-control mb-4 col-4" placeholder="Designation">
			<div class="alert alert-warning" th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}"></div>
			
			<input type="text" th:field="*{salary}"
					class="form-control mb-4 col-4" placeholder="Salary">
			<div class="alert alert-warning" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></div>
			
			<input type="text" th:field="*{gender}"
					class="form-control mb-4 col-4" placeholder="Gender">
			<div class="alert alert-warning" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
			
			<input type="text" th:field="*{address}"
					class="form-control mb-4 col-4" placeholder="address">
			<div class="alert alert-warning" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
		
			<button type="submit" class="btn btn-info col-2">Save</button>
		</form>
		
		<hr>
		<a th:href="@{/employees/list}">Back to Employees List</a>
	
	</div>
	
</body>

</html>